<div class="awb-one-wrapper">
  <div class="awb-description-content">
    <div class="awb-description">
      <div class="section">
        <div class="block">
          <label class="block-label">AWB No.: </label>
          <p class="block-value">074-35744424</p>
        </div>
        <div class="block">
          <label class="block-label">Pieces: </label>
          <p class="block-value">1</p>
        </div>
        <div class="block">
          <label class="block-label">Weight(K): </label>
          <p class="block-value">160.0</p>
        </div>
        <div class="block">
          <label class="block-label">Origin: </label>
          <p class="block-value">PEN</p>
        </div>
        <div class="block">
          <label class="block-label">Destination: </label>
          <p class="block-value">BUD</p>
        </div>
      </div>
      <div class="section">
          <div class="block">
            <label class="block-label">Arrival: </label>
            <p class="block-value">
                1 pieces 160.0 Kg arrived on flight KL 8990 05 Jul 20
            </p>
          </div>
          <div class="block">
            <label class="block-label">Departure: </label>
            <p class="block-value">
                1 pieces 160.0 Kg received on 05 Jul 20 at 0322
                1 pieces 160.0 Kg departed on flight KL 836 06 Jul 20
            </p>
          </div>
      </div>
    </div>

    <div class="awb-graph">
      <h1>AWB_GRAPH</h1>
    </div>
  </div>
  <div class="awb-map">
    <h1>AWB-ONE-MAP</h1>
  </div>
</div>