<div class="custom_nav_tab" #viewBox>
    <ul class="navigation navigation-tabs" #widgetsContent id="myTab" role="tablist">
      <ng-container *ngFor="let tabItem of tabList">
        <li
          class="navigation-item"
          [attr.id]="tabItem.id"
          [ngClass]="selectedTabId === tabItem.id ? 'active' : ''"
          (click)="selectTab(tabItem.id)"
        >
          <img class="navigation-item-logo" src="{{ tabItem.logo }}" alt="">
          <a
            class="navigation-link"
            data-toggle="tab"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >{{ tabItem.displayName }}</a
          >
        </li>
      </ng-container>
    </ul>
  </div>